/* CSS Document */

/***********************************************/
/* HTML tag styles                                       */
/***********************************************/ 
* { 
	font: 13px 'ËÎÌå'£¬Arial, Helvetica, sans-serif;
}
body {
	margin:0;
	padding:0;
}
.bg1{
	background-color: #ffffff;
}
a#quickmenutitle{
	width:180px;
	padding:4px 0;
	text-decoration:none;
	display:block;
}
.quickmenu{
	padding-left:27px;
}
a.quickmenu {
	text-decoration:none;
	color:#174179;
	background:inherit;
}
a.quickmenu:hover {
	color:red;
	background:inherit;
}
.chang{
	padding-left:27px;
	text-decoration:none;
	color:red;
	background:none;
	line-height:22px;
}
a.chang{
	width:180px;
	height:22px;
	padding-top:5px;
	margin-top:-5px;
	margin-bottom:5px;
	text-decoration:none;
	color:#E33539;
	background:inherit;
}
a.chang:hover {
	width:180px;
	padding-top:5px;
	margin-top:-5px;
	margin-bottom:5px;
	height:22px;
	color:#E33539;
	background:inherit;
}
ul{
	margin:0;
	padding:0;
}
.triangle_mark{
	width:180px;
	padding-left:1px;
}
.triangle_mark li{
	width:177px;
	line-height:22px;
	background-image:url(../images/menu_arrow.gif);
	background-position: 15px center;
	background-repeat:no-repeat;
	background-color:#fff;
	text-decoration:none;
	color:#174179 !important;
	border-left:solid 1px #9accff;
	border-right:solid 1px #9accff;
	border-bottom:solid 1px #CCCCCC;
	display:block;
	overflow:hidden;
}
#nav {
	 width:180px;
	 padding-top:4px;
	 padding-bottom:3px;
	 list-style-type: none;
	 text-align:left;
	 margin-top:-3px;
}
#nav a {
	 padding-left:25px;
	 width:180px;
	 display: block;
	 padding-top:4px;
	 padding-bottom:3px;
}
#nav li {
	background:url(../images/menu01.gif) no-repeat;
	width:180px;
	float:left;
}
#nav li a:hover{
	padding-top:4px;
	padding-bottom:3px;
	background:url(../images/menu01.gif) no-repeat;
	float:left;
}
#nav a:link  {
 color:#000; text-decoration:none;
}
#nav a:visited  {
 color:#000; text-decoration:none;
}
#nav a:hover  {
 color:#000; text-decoration:none;
}
#nav li ul {
	list-style:none;
	text-align:left;
	width:180px;
	padding:0 0 0 1px;
}
#nav li ul li{
	width:177px;
	border-left:solid 1px #9accff;
	border-right:solid 1px #9accff;
	border-bottom:solid 1px #E0E4FE;
}
#nav li ul li a{
	width:177px;
	background-image:url(../images/menu_arrow.gif);
	background-position: 15px center;
	background-repeat:no-repeat;
	background-color:#ffeede;
	text-decoration:none;
	color:#174179 !important;
	display:block;
}
#nav li ul li a:hover{
	width:177px;
	background-image:url(../images/menu_arrow.gif);
	background-position: 15px center;
	background-repeat:no-repeat;
	background-color:#fff;
	text-decoration:none;
	color:#174179;
	display:block;
}
#nav li ul a.ag{
	width:177px;
	background-image:url(../images/menu_arrow.gif);
	background-position: 15px center;
	background-repeat:no-repeat;
	background-color:#fff;
	text-decoration:none;
	color:#174179;
	display:block;
}
#nav li:hover ul {
	left: auto;
}
#nav li.sfhover ul {
	left: auto;
}
#nav ul.collapsed {
	display: none;
}